.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.title {
font-size: 28px;
text-transform: uppercase;
margin: 20px 0;

}

.stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: aqua;
}

.item {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px 5px;
    width: calc(100%/4);
}

.label {
font-size: 18px;
color: black;
-webkit-text-stroke: 0.1px rgba(255, 255, 255 0.2);
}

.percent {
font-size: 16px;
font-weight: 500;
color: black;
-webkit-text-stroke: 0.1px rgba(255, 255, 255 0.2);
}